<div id="search" class="input-group mb-3">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control form-control-lg" style="font-size:1.0rem">
	<button type="button" data-lang="{{ language }}" class="btn btn-lg" style="background-color: #EE8434; color: #fff; border: none;">
		<i class="fa-solid fa-magnifying-glass"></i>
	</button>
</div>

