<h3 style="text-align: center; font-weight: bold; font-size:1.5rem">{{ heading_title }}</h3>
<div class="row{% if axis == 'horizontal' %} row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center w-100{% endif %}"style="margin-top: 20px;">
  {% for product in products %}
    <div class="col-12" style="flex: 0 0 50%; max-width: 100%;">{{ product }}</div>
  {% endfor %}
</div>
